<?xml version="1.0"?>
<CFProjPrefs xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <projectPath>D:/Work - Hamza Saleem/Unity Projects/Anime High School Horror/anime-high-school-horror/Anime High School Horror/Assets</projectPath>
  <isIsntalled>true</isIsntalled>
  <wasShown>true</wasShown>
  <installedVer>1</installedVer>
</CFProjPrefs>